html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
  html,
  body,
  #root {
    height: -webkit-fill-available;
  }
}

#root {
  display: flex;
}

button:focus { outline: none; }
